body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background-image: url(./img/6005990.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
  
#title, #description {
  text-align: center;
  margin: 1em auto;
  color: #ffffff;
  padding: 0 5px;
}

#description {
  margin-bottom: 2em;
}
  
form {
  width: 60vw;
  max-width: 600px;
  margin: 0 auto;
  background-color: rgba(182, 220, 254, 0.8);
  padding: 2.5em 3em 2.5em 2.5em;
  border-radius: 10px;
}

fieldset {
  border: none;
  border-bottom: 3px solid rgba(17, 17, 120, 0.5);
  margin-bottom: 1.5rem;
}

fieldset:last-of-type {
  border-bottom: none;
  padding-top: 0;
  margin-bottom: 0;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input, textarea, select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

input, textarea {
  background-color: #25319ae2;
  border: 1px solid #25319ae2;
  color: #ffffff;
}

input::placeholder,
textarea::placeholder {
  color: #99f1ff;
  opacity: 0.4;
}

#company-label {
  margin: 0;
}
  
.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

#submit, #terms-and-conditions {
  color: #ffffff;
  font-size: 1em;
  font-weight: 600;
}

.other-projects {
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  padding: 1.5em;
}

a {
  color: rgb(78, 58, 255);
}

a:visited {
  color: #e4d8f0;
}

a:hover {
  color: #e4d8f0;
}

a:active {
  color: #e4d8f0;
}